@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-custom-bg {
  background-image: url('./asset/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
 
}


@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR:wght@100..400&display=swap');

.player {
  font-family: 'Playwrite HR', sans-serif;
}